In [1]:
sc

In [2]:
from pyspark.sql.types import Row

In [3]:
from datetime import datetime

In [4]:
simple_data = sc.parallelize([1, 'Alice',50])
simple_data # create RDD

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [5]:
simple_data.count()

3

In [6]:
simple_data.first()

1

In [9]:
simple_data.take(2) # request data more than one rows

[1, 'Alice']

In [11]:
simple_data.collect() # all the elements from RDD

[1, 'Alice', 50]

In [13]:
df = simple_data.toDF() # RDD has no schema so cannot be converted to a Dataframe without schema

TypeError: Can not infer schema for type: <class 'int'>

In [15]:
# convert a RDD to a Dataframe
records = sc.parallelize([[1,"Alice",50], [2, "Bob", 80]])

In [16]:
type(records)

pyspark.rdd.RDD

In [17]:
records.collect()

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [18]:
records.count()

2

In [19]:
records.first()

[1, 'Alice', 50]

In [20]:
records.take(2)

[[1, 'Alice', 50], [2, 'Bob', 80]]

In [23]:
df =  records.toDF()

In [24]:
type(df)

pyspark.sql.dataframe.DataFrame

In [25]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [29]:
 df.show() #defautl 20 rows

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [30]:
data = sc.parallelize([Row(id=1, name="Alice", score=50)])

In [32]:
df_with_columns =  data.toDF()

In [33]:
df_with_columns.show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
+---+-----+-----+

In [34]:
data = sc.parallelize([Row(id=1, name="Alice", score=50),
                      Row(id=2, name="Sudeep", score=40),
                      Row(id=3, name="manasvi", score=100)])

In [35]:
data

ParallelCollectionRDD[45] at parallelize at PythonRDD.scala:195

In [38]:
data_df = data.toDF()

In [39]:
data_df.show()

+---+-------+-----+
| id|   name|score|
+---+-------+-----+
|  1|  Alice|   50|
|  2| Sudeep|   40|
|  3|manasvi|  100|
+---+-------+-----+

In [40]:
complex_data =  sc.parallelize([Row(col_float=1.44,col_integer=10, col_string="John")])

In [41]:
complex_data_Df = complex_data.toDF()

In [43]:
complex_data_Df.show()

+---------+-----------+----------+
|col_float|col_integer|col_string|
+---------+-----------+----------+
|     1.44|         10|      John|
+---------+-----------+----------+

In [44]:
complex_data =  sc.parallelize([Row(col_float=1.44,col_integer=10, col_string="John", col_boolean=True, col_list=[1, 2, 3])])

In [45]:
complex_data_df =  complex_data.toDF()

In [46]:
complex_data_df.show()

+-----------+---------+-----------+---------+----------+
|col_boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+

In [47]:
complex_data = sc.parallelize([Row(col_list = [1,2,3],
                                   col_dict = {"k1":0},col_row = Row(a =10, b = 20, c = 30),
                                  col_time =datetime(2014, 8, 1, 14, 1, 5)
                                  ),
                               Row(col_list = [1,2,3, 5,6],
                                   col_dict = {"k1":0},col_row = Row(a =40, b = 50, c = 60),
                                  col_time =datetime(2014, 8, 1, 14, 1, 6)
                                  ),
                               Row(col_list = [1,2,3, 5, 6, 7, 8],
                                   col_dict = {"k1":0},col_row = Row(a =70, b = 80, c = 90),
                                  col_time =datetime(2014, 8, 1, 14, 1, 7)
                                  )
                              ])

In [48]:
complex_data_df_c = complex_data.toDF()

In [49]:
complex_data_df_c.show()

+---------+--------------------+------------+-------------------+
| col_dict|            col_list|     col_row|           col_time|
+---------+--------------------+------------+-------------------+
|[k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2014-08-01 14:01:05|
|[k1 -> 0]|     [1, 2, 3, 5, 6]|[40, 50, 60]|2014-08-01 14:01:06|
|[k1 -> 0]|[1, 2, 3, 5, 6, 7...|[70, 80, 90]|2014-08-01 14:01:07|
+---------+--------------------+------------+-------------------+

In [51]:
class Student():
    def __init__(self, name, age):
        self.name = name
        self.age = age
stdnt = Student("sudeep",35)

In [55]:
complex_data = sc.parallelize([Row(col_list = [1,2,3],
                                   col_dict = {"k1":0},
                                   col_row = Row(a =10, b = 20, c = 30),
                                  col_time =datetime(2014, 8, 1, 14, 1, 5),
                                   student = {"key1":stdnt}
                                  ),
                               Row(col_list = [1,2,3, 5,6],
                                   col_dict = {"k1":0},col_row = Row(a =40, b = 50, c = 60),
                                  col_time =datetime(2014, 8, 1, 14, 1, 6),
                                   student = {"key1":stdnt}

                                  ),
                               Row(col_list = [1,2,3, 5, 6, 7, 8],
                                   col_dict = {"k1":0},col_row = Row(a =70, b = 80, c = 90),
                                  col_time =datetime(2014, 8, 1, 14, 1, 7),
                                   student = {"key1":stdnt}

                                  )
                                      ])

In [56]:
complex_data.toDF()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 52.0 failed 1 times, most recent failure: Lost task 0.0 in stage 52.0 (TID 113, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 377, in main
    process()
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 372, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 393, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/pyspark/rdd.py", line 1354, in takeUpToNumLeft
    yield next(iterator)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 147, in load_stream
    yield self._read_with_length(stream)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 172, in _read_with_length
    return self.loads(obj)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 580, in loads
    return pickle.loads(obj, encoding=encoding)
AttributeError: Can't get attribute 'Student' on <module 'pyspark.daemon' from '/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/daemon.py'>

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:588)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:571)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:891)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:153)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:153)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:153)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor47.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 377, in main
    process()
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/worker.py", line 372, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 393, in dump_stream
    vs = list(itertools.islice(iterator, batch))
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/pyspark/rdd.py", line 1354, in takeUpToNumLeft
    yield next(iterator)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 147, in load_stream
    yield self._read_with_length(stream)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 172, in _read_with_length
    return self.loads(obj)
  File "/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/serializers.py", line 580, in loads
    return pickle.loads(obj, encoding=encoding)
AttributeError: Can't get attribute 'Student' on <module 'pyspark.daemon' from '/home/sudeep/program files/spark-2.4.3-bin-hadoop2.7/python/lib/pyspark.zip/pyspark/daemon.py'>

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:452)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:588)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:571)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:406)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$class.foreach(Iterator.scala:891)
	at org.apache.spark.InterruptibleIterator.foreach(InterruptibleIterator.scala:28)
	at scala.collection.generic.Growable$class.$plus$plus$eq(Growable.scala:59)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:104)
	at scala.collection.mutable.ArrayBuffer.$plus$plus$eq(ArrayBuffer.scala:48)
	at scala.collection.TraversableOnce$class.to(TraversableOnce.scala:310)
	at org.apache.spark.InterruptibleIterator.to(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toBuffer(TraversableOnce.scala:302)
	at org.apache.spark.InterruptibleIterator.toBuffer(InterruptibleIterator.scala:28)
	at scala.collection.TraversableOnce$class.toArray(TraversableOnce.scala:289)
	at org.apache.spark.InterruptibleIterator.toArray(InterruptibleIterator.scala:28)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:153)
	at org.apache.spark.api.python.PythonRDD$$anonfun$3.apply(PythonRDD.scala:153)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.SparkContext$$anonfun$runJob$5.apply(SparkContext.scala:2101)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [57]:
sqlcontext = SQLContext(sc)

In [58]:
sqlContext

In [61]:
sqlContext.read(data)

TypeError: 'DataFrameReader' object is not callable

In [62]:
df = sqlContext.range(5)

In [63]:
df

DataFrame[id: bigint]

In [64]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [65]:
 df.count()

5

In [67]:
sqlcontext.createDataFrame([[1, 'Alice', 50], [2, 'Bob', 80]]).show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [69]:
sqlcontext.createDataFrame([[1, 'Alice', 50], [2, 'Bob', 80]], ["id", "name" ,"score"]).show()

+---+-----+-----+
| id| name|score|
+---+-----+-----+
|  1|Alice|   50|
|  2|  Bob|   80|
+---+-----+-----+

In [70]:
complex_data_sql = sqlContext.createDataFrame([Row(col_list = [1,2,3],
                                   col_dict = {"k1":0},col_row = Row(a =10, b = 20, c = 30),
                                  col_time =datetime(2014, 8, 1, 14, 1, 5)
                                  ),
                               Row(col_list = [1,2,3, 5,6],
                                   col_dict = {"k1":0},col_row = Row(a =40, b = 50, c = 60),
                                  col_time =datetime(2014, 8, 1, 14, 1, 6)
                                  ),
                               Row(col_list = [1,2,3, 5, 6, 7, 8],
                                   col_dict = {"k1":0},col_row = Row(a =70, b = 80, c = 90),
                                  col_time =datetime(2014, 8, 1, 14, 1, 7)
                                  )
                              ])

In [71]:
complex_data_sql.show()

+---------+--------------------+------------+-------------------+
| col_dict|            col_list|     col_row|           col_time|
+---------+--------------------+------------+-------------------+
|[k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2014-08-01 14:01:05|
|[k1 -> 0]|     [1, 2, 3, 5, 6]|[40, 50, 60]|2014-08-01 14:01:06|
|[k1 -> 0]|[1, 2, 3, 5, 6, 7...|[70, 80, 90]|2014-08-01 14:01:07|
+---------+--------------------+------------+-------------------+

In [93]:
data = sc.parallelize([
    Row(1,"Alice",50), 
    Row(2, "Bob", 80)
])

In [95]:
column_names = Row("id", "name", "age")

In [96]:
students = data.map(lambda r:column_names(*r))

In [97]:
students

PythonRDD[158] at RDD at PythonRDD.scala:53

In [98]:
students.collect()

[Row(id=1, name='Alice', age=50), Row(id=2, name='Bob', age=80)]

In [99]:
students_df =  students.toDF()

In [101]:
students_df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 50|
|  2|  Bob| 80|
+---+-----+---+

In [102]:
complex_data_df.first()

Row(col_boolean=True, col_float=1.44, col_integer=10, col_list=[1, 2, 3], col_string='John')

In [103]:
complex_data_sql.collect()

[Row(col_dict={'k1': 0}, col_list=[1, 2, 3], col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2014, 8, 1, 14, 1, 5)),
 Row(col_dict={'k1': 0}, col_list=[1, 2, 3, 5, 6], col_row=Row(a=40, b=50, c=60), col_time=datetime.datetime(2014, 8, 1, 14, 1, 6)),
 Row(col_dict={'k1': 0}, col_list=[1, 2, 3, 5, 6, 7, 8], col_row=Row(a=70, b=80, c=90), col_time=datetime.datetime(2014, 8, 1, 14, 1, 7))]

In [104]:
complex_data_sql.collect()[0]

Row(col_dict={'k1': 0}, col_list=[1, 2, 3], col_row=Row(a=10, b=20, c=30), col_time=datetime.datetime(2014, 8, 1, 14, 1, 5))

In [105]:
complex_data_sql.collect()[0][1]

[1, 2, 3]

In [106]:
cell_list = complex_data_sql.collect()[0][1]

In [107]:
type(cell_list)

list

In [108]:
cell_list.append(100)

In [109]:
complex_data_sql.show()

+---------+--------------------+------------+-------------------+
| col_dict|            col_list|     col_row|           col_time|
+---------+--------------------+------------+-------------------+
|[k1 -> 0]|           [1, 2, 3]|[10, 20, 30]|2014-08-01 14:01:05|
|[k1 -> 0]|     [1, 2, 3, 5, 6]|[40, 50, 60]|2014-08-01 14:01:06|
|[k1 -> 0]|[1, 2, 3, 5, 6, 7...|[70, 80, 90]|2014-08-01 14:01:07|
+---------+--------------------+------------+-------------------+

In [112]:
complex_data_sql.rdd.map(lambda x : (x.col_list, x.col_dict)).collect()

[([1, 2, 3], {'k1': 0}),
 ([1, 2, 3, 5, 6], {'k1': 0}),
 ([1, 2, 3, 5, 6, 7, 8], {'k1': 0})]

In [114]:
complex_data_sql.select(
'col_list').show()

+--------------------+
|            col_list|
+--------------------+
|           [1, 2, 3]|
|     [1, 2, 3, 5, 6]|
|[1, 2, 3, 5, 6, 7...|
+--------------------+

In [116]:
complex_data_df = complex_data.toDF()

In [118]:
complex_data_df = sqlContext.createDataFrame(complex_data)

In [119]:
complex_data_df.select("col_string").show()

+----------+
|col_string|
+----------+
|      John|
+----------+

In [120]:
complex_data_df.rdd.map(lambda x : (x.col_string + "Boo")).collect()

['JohnBoo']

In [122]:
complex_data_df.select("col_integer", "col_float").withColumn(
    "col_sum",
    complex_data_df.col_integer + complex_data_df.col_float
).show()

+-----------+---------+-------+
|col_integer|col_float|col_sum|
+-----------+---------+-------+
|         10|     1.44|  11.44|
+-----------+---------+-------+

In [125]:
complex_data_df.select("col_boolean").withColumn(
"col_False",
complex_data_df.col_boolean == False).show()

+-----------+---------+
|col_boolean|col_False|
+-----------+---------+
|       true|    false|
+-----------+---------+

In [129]:
complex_data_df.withColumnRenamed('col_bool1', "col_map").show()

+-----------+---------+-----------+---------+----------+
|col_boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+

In [130]:
complex_data_df.select(complex_data_df.col_string.alias("Name")).show()

+----+
|Name|
+----+
|John|
+----+

In [131]:
import pandas
df_pandas = complex_data_df.toPandas()

In [132]:
df_pandas

   col_boolean  col_float  col_integer   col_list col_string
0         True       1.44           10  [1, 2, 3]       John

In [133]:
df_spark = sqlContext.createDataFrame(df_pandas).show()

+-----------+---------+-----------+---------+----------+
|col_boolean|col_float|col_integer| col_list|col_string|
+-----------+---------+-----------+---------+----------+
|       true|     1.44|         10|[1, 2, 3]|      John|
+-----------+---------+-----------+---------+----------+