In [26]:
from pyspark.sql.types import Row
from datetime import datetime

In [27]:
records = sc.parallelize([Row(id =1 ,
                             name="Jill",
                             active = True,
                             clubs = ['chess', 'hockey'],
                             subjects = {"math":80, "english": 56},
                             enrolled = datetime(2014,8, 1, 14, 1, 5)),
                             Row(id=2,
                                name="sudeep",
                                active = False,
                                clubs=['chess','soccer'],
                                subjects = {"math":60, "english": 96},
                                enrolled = datetime(2015,3, 21, 8, 2, 1)
                                )                             ])

In [28]:
records

ParallelCollectionRDD[33] at parallelize at PythonRDD.scala:195

In [29]:
record_df =records.toDF()

In [30]:
record_df.show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:01|  2|sudeep|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [31]:
# register dataframe as sql table
record_df.createOrReplaceTempView("records") # session tables

In [32]:
all_records_df = sqlContext.sql("select * From records")

In [33]:
all_records_df.show()

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:01|  2|sudeep|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+

In [34]:
all_records_df = sqlContext.sql('select id, clubs[1], subjects["english"] From records').show()

+---+--------+-----------------+
| id|clubs[1]|subjects[english]|
+---+--------+-----------------+
|  1|  hockey|               56|
|  2|  soccer|               96|
+---+--------+-----------------+

In [35]:
sqlContext.sql('select not Active from records').show()

+------------+
|(NOT Active)|
+------------+
|       false|
|        true|
+------------+

In [36]:
sqlContext.sql('select * from records where active').show()

+------+---------------+-------------------+---+----+--------------------+
|active|          clubs|           enrolled| id|name|            subjects|
+------+---------------+-------------------+---+----+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|Jill|[english -> 56, m...|
+------+---------------+-------------------+---+----+--------------------+

In [37]:
record_df.createGlobalTempView("global_records") # global table accessible accross all sessions

AnalysisException: "Temporary view 'global_records' already exists;"

In [40]:
sqlContext.sql('select * from global_temp.global_records').show() # soecial namespace global_temp"

+------+---------------+-------------------+---+------+--------------------+
|active|          clubs|           enrolled| id|  name|            subjects|
+------+---------------+-------------------+---+------+--------------------+
|  true|[chess, hockey]|2014-08-01 14:01:05|  1|  Jill|[english -> 56, m...|
| false|[chess, soccer]|2015-03-21 08:02:01|  2|sudeep|[english -> 96, m...|
+------+---------------+-------------------+---+------+--------------------+